{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "**/*.ts",
      "options": {
        "trailingComma": "es5",
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
