<ActionBar class="action-bar">
    <Label class="action-bar-title" text="PAYMENTS"></Label>
    <ActionItem (tap)="tapFilterPayments()" ios.position="right">
        <Label text="&#xe901;"
            class="icon text--large card-list__right-icon">
        </Label>
    </ActionItem>
</ActionBar>

<GridLayout>
    <RadListView id="paymentRadListView" [items]="listViewData" class="payment-list">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout>
                <GridLayout rows="*" columns="*,*" class="payment-list-header"
                    visibility="{{ item.isHeader ? 'visible' : 'collapsed' }}">
                    <Label row="0" col="0" [text]="item.title"></Label>
                    <Label row="0" col="1" [text]="item.total" horizontalAlignment="right"></Label>
                </GridLayout>
                <GridLayout columns="*, auto" rows="auto, auto" class="payment-list-item"
                    visibility="{{ !item.isHeader ? 'visible' : 'collapsed' }}">
                    <Label row="0" col="0" [text]="item.description"></Label>
                    <Label row="0" col="1" [text]="item.amount | number:'1.2-2'"></Label>
                    <Label row="1" col="0" colSpan="2"
                        [text]="item.createdAt | date:'longDate'"
                        class="text--smaller"></Label>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </RadListView>
    <ActivityIndicator
        #activityIndicator
        [busy]="isBusy"
        class="activity-indicator"></ActivityIndicator>
</GridLayout>
