.home {
  padding-left: 0;
  padding-right: 0;
}

.card-list {
  background-color: #fafafa;
}

.card-list__right-swipe {
  background-color: #dd1014;
  padding: 16;
}

.card-list__right-icon {
  margin-top: 8;
  color: #ffffff;
}

.payment-card {
  border-bottom-width: 0.5;
  border-color: #d4d4d7;
  background-color: #fafafa;
  margin: 0;
  color: #333;
  padding: 12 16;
}
.payment-card__title {
  padding-top: 4;
}
.payment-card__brand {
  font-weight: bold;
}
.payment-card__amount {
  font-weight: bold;
  text-align: right;
}
