<ActionBar class="action-bar">
    <Label class="action-bar-title" text="SUMMARY"></Label>
</ActionBar>
<GridLayout rows="*, *, *" columns="*, *, *">
    <StackLayout class="page" row="0" col="0" rowSpan="3" colSpan="3">
        <Label horizontalAlignment="center" paddingTop="32">
            <FormattedString>
                <Span color="#333" class="text--large" text="S/ "></Span>
                <Span color="#333" class="text--bigger" [text]="totalAmount | number:'1.2-2'"></Span>
            </FormattedString>
        </Label>
        <Label horizontalAlignment="center" color="#666" paddingBottom="32" text="Total payments this month."></Label>
        <GridLayout *ngFor="let item of cards" rows="auto, auto" columns="3*,2*" class="payment-card" (onTap)="onCardTap(item)">
            <Label row="0" col="0" class="payment-card__brand text--smaller">
                <FormattedString>
                    <Span [text]="item.brand"></Span>
                    <Span text=" - "></Span>
                    <Span [text]="item.type"></Span>
                </FormattedString>
            </Label>
            <Label row="1" col="0" [text]="item.bank" class="payment-card__title text--large"></Label>
            <Label row="0" col="1" rowSpan="2"
                [text]="item.totalAmount | number:'1.2-2'"
                verticalAlignment="center"
                class="payment-card__amount text--large"></Label>
        </GridLayout>
        <Button class="button button-outline" text="ADD CARD" (tap)="onAddCardTap()" marginTop="8"></Button>
    </StackLayout>
    <ActivityIndicator row="1" col="1"
        width="100" height="100"
        #activityIndicator
        [busy]="isBusy"
        class="activity-indicator"></ActivityIndicator>
</GridLayout>
